.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    font-size: 1.5rem;
    background-color: #1f3540;
    margin: 3rem auto;
    box-shadow: 0px 0px 8px #888888;
    border-radius: 0.5rem;
    font-weight: bold;
}

.score-header {
    text-align: center;
    padding: 0.25rem 0;
    color: rgb(217, 219, 222);
}

.score {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.x-score,
.o-score {
    text-align: center;
}

.x-score {
    color: #26ffcb;
    border-bottom: 5px solid #26ffcb;
}

.o-score {
    color: #ff5f1f;
    border-bottom: 5px solid #ff5f1f;
}

.inactive {
    border-bottom: 5px solid transparent;
}

.winner.x-score {
    color: #26ffcb; /* Adjust the color as needed */
    border-bottom: none;
}

.winner.o-score {
    color: #ff5f1f; /* Adjust the color as needed */
    border-bottom: none;
}
